h2 {
  width: 50%;
  margin: auto;
}

span {
  transition: 300ms;
  font-size: 3.5vw;
}

span.active {
  color: orange;
}

span:not(.active) {
  filter:blur(1px);
  opacity: 0.5;
  transition: filter 2s, opacity 2s;
}